<IfModule mod_rewrite.c>
    RewriteEngine On
    
    ## rewrite short-urls to controller
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^(\w+)$ urls/redirectToLongUrl/$1
    
    ## cakephps rewriting
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>